.airlinerList {
  flex: 4;
  margin: 0px 20px;
}

.airlinerTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.airlinerAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.AirlinerListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.AirlinerListDelete{
  color: red;
  cursor: pointer;
  
}